node_modules
build
build-verify
.yarn-cache
.git
.idea
.gitignore
.env
vercel.json
Dockerfile
npm-debug.log
yarn-error.log
yarn-debug.log



# node_modules
# build
# .git
# .gitignore
# vercel.json
# Dockerfile
# npm-debug.log
# yarn-error.log
