.filter-modal .modal-dialog {
  --modal-max-width: 960px;
}

.filter-modal .filter-btn {
  min-width: 150px;
  border: 1px solid #00249c;
  color: #00249c;
}

.filter-modal .filter {
  background-color: #00249c;
  color: #ffffff;
}

.filter-modal .filter-btns {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.filter-modal h3 {
  font-size: small;
}

@media screen and (max-width: 575px) {
  .filter-modal .filter-btns {
    justify-content: stretch;
  }

  .filter-modal .filter-btn {
    width: 100%;
  }
}
